@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.nav-text-color{
    color: #3E3E3E !important;
}
.check-color{
    color: #5243C2;
}
.button-bg-color, .check-bg-color{
    background-color: #EDECF9;
}
.heading-color{
    color: #231D4F;
}
.wedding-bg{
    border-radius: 30px !important;
}